body {
  background-color: black;
  color: white;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.main {
    margin-top: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.values {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.param {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  padding: 10px 20px;
  border: 1px solid #555;
  margin-left: 40px;
}

.heading {
  flex: 1;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 40px;
  width: 95px;
  padding: 0;
  border-radius: 4px;
}


.graph {
  width: 650px;
  height: 480px;
  border: 1px solid white;
}

input{
    width: 90px;
    height: 40px;
    font-size: 20px;
}

.switch-label {
  font-size: 24px;
  margin-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 38px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #888;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #00e676;
}

input:checked + .slider:before {
  transform: translateX(32px);
}

.title{
    width: 100vw;
    height: 90px;
    display: flex;
    margin-top: 35px;
}

.title-text{
    font-size: 35px;
    text-align: center;
    margin-left: 250px;
}

.logo{
    margin-left: 35px;
}

.graph img{
    width: 650px;
}

.val {
  color: black;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 25px; 
}
